DEBUG=0SECRET_KEY=change_meDJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]SQL_ENGINE=django.db.backends.postgresqlSQL_DATABASE=picassoSQL_USER=postgresSQL_PASSWORD=postgresSQL_HOST=dbSQL_PORT=5432DATABASE=postgresS3_ENDPOINT_URL=fooS3_DEFAULT_BUCKET=fooAWS_ACCESS_KEY_ID=fooAWS_SECRET_ACCESS_KEY=foo